.products-grid {
  position: relative;
  max-width: 1280px;
  margin: auto;
  min-height: 20vmin;
}

.products-grid__container {
  margin: auto;

  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
}