.product-card {
  border-radius: 0.5rem;
  border: 0.1rem solid #8884;
  background-color: #F8F8FF;
  width: 100%;
  max-width: 27rem;
  overflow: hidden;
  display: inline-block;
}

.product-card__thumbnail {
  width: 100%;
  aspect-ratio: 3/2;
}

.product-card__body {
  padding: 1rem;
}


.product-card__title {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  font-size: 1.5rem;
}

.product-card__category {
  font-size: 1.15rem;
  opacity: 0.5;
}

.product-card__description {
  min-height: 2.8rem;
  margin-block: 1rem;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card__price {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: end;
}