.overlaid-spinner {
  display: grid;
  place-items: center;
  background-color: #fff6;
  position: absolute;

  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.overlaid-spinner__spinner {
  position: absolute;
  border: 1vmin solid #1867df;
  border-bottom-color: #0000;
  border-top-color: #0000;
  border-radius: 100%;
  display: block;
  height: 10vmin;
  width: 10vmin;
  opacity: 0.5;
}

.overlaid-spinner__spinner--slow {
  animation: keyframes--overlaid-spinner__spinner 1.5s infinite linear;
}

.overlaid-spinner__spinner--fast {
  animation: keyframes--overlaid-spinner__spinner 1s infinite linear;
}

.overlaid-spinner__spinner--delayed {
  animation-delay: 0.1s;
}

@keyframes keyframes--overlaid-spinner__spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}