.app-header {
  background-color: #1867df;
  padding: 0.75rem 1rem;
  color: #e9e9e9;
}

.app-header__element {
  justify-content: space-between;
  max-width: 1280px;
  display: flex;
  margin: auto;
}