.app-navigation {
  font-size: 1.25rem;
  text-decoration: none;
  display: flex;
}

.app-navigation__link {
  text-decoration: none;
  transition: 0.2s opacity linear;
  padding: 0.5rem;
  opacity: 0.75;
}

.app-navigation__link--active {
  font-weight: 500;
  opacity: 1;
}