.app-paginator__button {
  border: 0.1rem solid #8884;
  background-color: #F8F8FF;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  transition: 0.15s;
  font-size: 1.1rem;
  opacity: 0.8;
}

.app-paginator__button:disabled {
  color: #88888F;
  opacity: 0.5;
}

.app-paginator__button:hover:not(:disabled) {
  opacity: 1;
}

.app-paginator__info {
  margin-inline: 0.75rem;
  font-size: 1.15rem;
}